.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
form {
  background-color: #fff;
  display: flex;
  padding: 3.3rem 8.4rem;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}
h1 {
  text-align: center;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 123%;
  letter-spacing: -0.03em;
}
button {
  width: 100%;
  height: 3.2rem;
  padding: 0.6rem;
  border: none;
  background-color: #001d84;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.9rem;
  margin-bottom: 1.8rem;

  font-weight: 500;
  font-size: 1.25rem;
  line-height: 123%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: capitalize;
}

span {
  font-size: 0.75rem;
  color: red;
  padding: 0.2rem;
  display: none;
}

input:invalid[focused='true'] {
  border: 1px solid red;
}

input:invalid[focused='true'] ~ span {
  display: block;
}

.form-box {
  display: flex;
  gap: 2rem;
}
.w-100 {
  width: 100%;
}
.select-box {
  font-size: 12px;
  margin-top: 3px;
}

.select-box-inner {
  height: 49px !important;
  padding: 13px 52px 8px 20px !important;
  border: 1px solid rgb(43, 42, 42) !important;
  color: rgb(182, 176, 176);
  font-weight: 300 !important;
}
.Dropdown-arrow {
  top: 1.12rem !important;
  padding: 0;
}

.form-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
